<h1 style="margin-bottom: 0.3em;">{{team.shortName}}</h1>
<img src="{{team.crestUrl}}" alt="Logo del {{team.shortName}}" height="290" style="display: block;">
<div style="float: left;margin-top:1em">
    <table>
        <tr>
            <td><strong>Nombre</strong></td>
            <td>{{team.name}}</td>
        </tr>
        <tr>
            <td><strong>Pais</strong></td>
            <td>{{team.area.name}}</td>
        </tr>
        <tr>
            <td><strong>Colores</strong></td>
            <td>{{team.clubColors}}</td>
        </tr>
        <tr>
            <td><strong>Email</strong></td>
            <td>{{team.email}}</td>
        </tr>
        <tr>
            <td><strong>Fundado en</strong></td>
            <td>{{team.founded}}</td>
        </tr>
        <tr>
            <td><strong>Direccion</strong></td>
            <td>{{team.address}}</td>
        </tr>
        <tr>
            <td><strong>Telefono</strong></td>
            <td>{{team.phone}}</td>
        </tr>
        <tr>
            <td><strong>Estadio</strong></td>
            <td>{{team.venue}}</td>
        </tr>
        <tr>
            <td><strong>Sitio Web</strong></td>
            <td><a href="{{team.website}}">{{team.website}}</a></td>
        </tr>
        <tr>
            <td><strong>Ultima Edición</strong></td>
            <td>{{team.lastUpdated}}</td>
        </tr>
    </table>
    <button><a href="/team/{{team.tla}}/edit">Editar</a></button>
    <button><a href="/">Volver</a></button>
    <button><a href="/team/{{team.tla}}/delete">Eliminar</a></button>
</div>
<iframe width="400" height="250" frameborder="0" style="margin-left:1em;margin-top:1em;float:left;"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDKxXNDhQAE7aB106RZVBJV_PJyVgMqAiA&q={{team.address}}"
    allowfullscreen>
</iframe>